.community {
    padding-top: 15px;
    /* background-color: aqua; */
}

.featureIcons {
    width: 70em;
    height: 24em;
    display: flex;
    list-style: none;
    gap: 50px;
    position: relative;
}

.featIcon{
    width: 184px;
    height: 184px;
    margin-bottom: 0;
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.18);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 32px;
}



.featureIcons li:nth-child(odd) {
    align-self: flex-end;
    padding-top: 00px;
}

.featureIcons li:nth-child(even) {
    align-self: center;
    padding-top: 0px;

}

.featureIcons li:nth-child(3){
    align-self: flex-start;
    margin-top: 35px;

}

.communityTexts {
    text-align: start;
    display: flex;
    flex-direction: column;
    width: 68em;
    font-family: var(--font);
    margin-top: 25px;
}

.communityTexts p:nth-child(1) {
    font-size: 25px;
    font-weight: 700;
    font-family: var(--font);
    color: var(--color-main);
    padding: 0;
    margin: 0;
}

.communityTexts h3:nth-child(2) {
    margin: 1px;
    color: var(--color-secondary);
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1.26px;
    font-style: normal;
    opacity: 0.7;
}

.communityTexts p:nth-child(3) {
    color: var(--color-third);
    font-style: normal;
    font-size: 18px;
    opacity: 0.6;
}