.features{
    height: fit-content;
    background: url('/featuresBackground.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.featuresTexts {
    display: flex;
    flex-direction: column;
    min-width: 65%;
    align-items: flex-start;
    margin-top: 8rem;
}

.featuresTexts p:nth-child(1){
    font-size: 48px;
    font-family: var(--font);
    font-weight: 600;
    font-style: normal;
    color: var(--color-secondary);
    margin: 0;

}

.featuresTexts p:nth-child(2){
    font-size: 18px;
    color: var(--color-third) ;
    margin-bottom: 4em;
}

.featuresContainer {
    display: flex;
    flex-direction: row;
    min-width: 60%;
    max-width: 65%;
    flex-wrap: wrap;
    gap: 15px;
}

.discoverBtn {
    font-size: 14px;
    color: var(--color-main);
    font-weight: 600;
    font-family: var(--font);
    padding: 8px;
    height: fit-content;
    align-self: center;
    border-radius: 4px;
    border: 1px solid rgba(32, 110, 207, 0.25);
    background: transparent;
    margin-left: 5.7em;
}