.hero {
    background-image: url('/Background.svg');
    background-size: cover;
    background-position-y: -264px;
    background-position-x: center;
    background-repeat: no-repeat;
    position: relative;
}

/* .hero::before{
    content: "";
    position: absolute;
    width: 58%;
    height: 100%;
    top: -120px;
    left: 802px;
    background: url(/Looper-3.svg) no-repeat;
    transform: rotate(5.68deg);
} */

.heroImage {
    position: absolute;
    bottom: 109px;
    padding-right: 30px;
}

.heroContent {
    padding-top: 36px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.chatIcon {
    position: fixed;
    right: 44px;
}