@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root {
    --color-main: #206ECF;
    --color-secondary: #1F2024;
    --color-third:  #6B788A;
    --color-forth: #CBD6E2;
    --color-text2: #363C45;
    --font: 'Poppins', sans-serif;
}