.cardContainer{
    width: 22.8125rem;
    height: 38.3125rem;
    border-radius: 32px;
    box-shadow: 0px 8px 24px 8px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    color: var(--color-text2);
    padding: 1.875rem;
    text-align: start;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.icon {
    width: 32px;
    height: 32px;
    background-color: var(--color-main);
    border-radius: 8px;
    padding: 6px;
}

.cardTitle{
    font-size: 24px;
    font-weight: 600;
    
}

.border{
    width: 300px;
    height: 1px;
    background-color: var(--color-forth);
    margin-bottom: 30px;
}

.cardFeatures {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
}

.cardFeatures li:nth-child(1){
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 25px 0;
}

.cardButton{
    position: absolute;
    bottom: 30px;
    align-self: center;
    width: 277px;
    height: 48px;
    background: var(--color-main);
    border: none;
    cursor: pointer;
    color: aliceblue;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
}

.feature {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: center;
    gap: 8px;
}

@media screen and (max-width: 768px) {
    .cardContainer{
        width: inherit
    }
  }