.section {
    margin: 0 0;
    padding: var(--space-7) var(--size-gutter);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 125vh;
    color: rgb(255, 255, 255);
    background-image: url('/Background.svg');
    background-size: cover;
    background-position-y: -264px;
    background-position-x: center;
    background-repeat: no-repeat;
    position: relative;
    
}

.section::before{
    content: "";
    position: absolute;
    width: 58%;
    height: 100%;
    top: -120px;
    left: 802px;
    /* z-index: -1; */
    background: url(/Looper-3.svg) no-repeat;
    transform: rotate(5.68deg);
}
